
@{
    ViewBag.Title = "Mantenedor";
}

<h2>Mantenedor</h2>

<fieldset>
    <legend> Formulario Mantenedor de Vacas</legend>

    @using (@Html.BeginForm("Guardar", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="form-group">
            <span class="col-md-2">
                DIIO
            </span>
            <span class="col-md-6">
                @Html.TextBox("diio", null, new { @class = "form-control", placeholder = "DIIO" })
            </span>
        </div>
        <div class="form-group">
            <span class="col-md-2">
                Nombre
            </span>
            <span class="col-md-6">
                @Html.TextBox("nombre", null, new { @class = "form-control", placeholder = "nombre" })
            </span>
        </div>
        <div class="form-group">
            <span class="col-md-2">
                Sexo
            </span>
            <span class="col-md-6">
                @Html.TextBox("sexo", null, new { @class = "form-control", placeholder = "sexo" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Raza
            </span>
            <span class="col-md-6">
                @Html.DropDownList("raza", new List<SelectListItem>
                    {
                        new SelectListItem{Text="HOLSTEIN", Value="Tecnico Superior"},
                        new SelectListItem{Text="JERSEY", Value="Ingeniero"},
                        new SelectListItem{Text="AYRSHIRE", Value="Magister"}
                        
                    },
                    new { @class = "form-control" }
                    )
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Edad
            </span>
            <span class="col-md-6">
                @Html.TextBox("edad", null, new { @class = "form-control", placeholder = "edad" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Tipo de Animal
            </span>
            <span class="col-md-6">
                @Html.DropDownList("tipo", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Vaca", Value="Vaca"},
                        new SelectListItem{Text="Ternera", Value="Ternera"},
                        new SelectListItem{Text="Ternero", Value="Ternero"},
                        new SelectListItem{Text="Toro", Value="Toro"},
                        new SelectListItem{Text="Buey", Value="Buey"}

                    },
                    new { @class = "form-control" }
                    )
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Rebaño
            </span>
            <span class="col-md-6">
                @Html.DropDownList("rebaño", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Animales Gordos", Value="Engorde"},
                        new SelectListItem{Text="Animales Enfermos", Value="Enfermo"},
                        new SelectListItem{Text="Animales a Eliminar", Value="Amatar"}
                        
                    },
                    new { @class = "form-control" }
                    )
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

    }

</fieldset>
